<%- include layouts/header.ejs %>


<section class="banner-area">
  <div class="container">
      <div class="row fullscreen align-items-center justify-content-start">
          <div class="col-lg-12">
              <div class="active-banner-slider owl-carousel">
                  <!-- single-slide -->
                  <div class="row single-slide align-items-center d-flex">
                      <div class="col-lg-5 col-md-6">
                          <div class="banner-content">
                              <h1>Nuevos Documentos Online!</h1>
                              <p>
                                Regístrate gratis y accede a nuevos manuales cada semana, además disfruta de la totalidad de nuestros contenidos las veces que quieras, cuando quieras y donde quieras.
                              </p>
                              
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="banner-img">
                              <img class="img-fluid" src="/karma/img/banner/manuales2.png" alt="">
                          </div>
                      </div>
                  </div>
                  <!-- single-slide -->
                  <div class="row single-slide align-items-center d-flex">
                      <div class="col-lg-5 col-md-6">
                          <div class="banner-content">
                              <h1>Ahora también en formato Kindle!</h1>
                              <p>
                                Disponibilidad de los mejores contenidos tecnológicos bajo demanda y ahora desde la comodidad de tus dispositivos Kindle de amazon.
                              </p>
                              
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="banner-img">
                              <img class="img-fluid" src="/karma/img/banner/manuales3.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--final encabezado-->
<div class="row justify-content-center align-items-center">
  <div class="col-lg-5 no-padding exclusive-left">
      <div class="row clock_sec clockdiv" id="clockdiv">
          <div class="col-lg-12">
              <h1>Ofertas exclusivas terminaran pronto!</h1>
          </div>
          <div class="col-lg-12">
              <div class="row clock-wrap">
                  <div class="col clockinner1 clockinner">
                      <h1 class="days">150</h1>
                      <span class="smalltext">Days</span>
                  </div>
                  <div class="col clockinner clockinner1">
                      <h1 class="hours">23</h1>
                      <span class="smalltext">Hours</span>
                  </div>
                  <div class="col clockinner clockinner1">
                      <h1 class="minutes">47</h1>
                      <span class="smalltext">Mins</span>
                  </div>
                  <div class="col clockinner clockinner1">
                      <h1 class="seconds">59</h1>
                      <span class="smalltext">Secs</span>
                  </div>
              </div>
          </div>
      </div>
      <a href="#" class="primary-btn">Comprar ahora</a>
  </div>
  <div class="col-lg-5 no-padding exclusive-right">
      <div class="active-exclusive-product-slider">
          <!-- single exclusive carousel -->
          <div class="single-exclusive-slider">
              <img class="img-fluid" src="/karma/img/product/man-node.png" alt="">
              <div class="product-details">
                  <div class="price">
                      <h6 class="l-through">$250.00</h6>
                  </div>
                  <h4>
                    Manual “Todo lo que se debe de saber sobre Node js”
                  </h4>
                  <div class="add-bag d-flex align-items-center justify-content-center">
                      <a class="add-btn" href=""><span class="ti-bag"></span></a>
                      <span class="add-text text-uppercase">Agregar al carrito</span>
                  </div>
              </div>
          </div>
          <!-- single exclusive carousel -->
          <div class="single-exclusive-slider">
              <img class="img-fluid" src="/karma/img/product/man-mongo.png" alt="">
              <div class="product-details">
                  <div class="price">
                      <h6 class="l-through">$230.00</h6>
                  </div>
                  <h4>
                    Manual de instalación y ejecución de mongo db
                  </h4>
                  <div class="add-bag d-flex align-items-center justify-content-center">
                      <a class="add-btn" href=""><span class="ti-bag"></span></a>
                      <span class="add-text text-uppercase">Agregar al carrito</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  <%- include layouts/footer.ejs %>